*{
  font-family: 'Do Hyeon', sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.app-title {
  text-align: center;
  margin-top: 15vh;
  color: mintcream;
  font-size: 40px;
  font-family: 'Do Hyeon', sans-serif;
  text-shadow: 6px 6px 5px black, 6px 6px 5px black;
}

.button-row{
  margin-top: 20vh;
  margin-bottom: 10vh;
}

.landing-button {
  background-color: saddlebrown;
  color: white;
  padding: 2.8vh 0;
  margin-bottom: 3vh;
  border: 4px solid black;
}

.shop-button {
  background-color: brown;
  color: white;
  height: 20%;
  margin-bottom: 7%;
  border: 4px solid black;
}

.gear-button {
  background-color: brown;
  color: white;
  height: 12vh;
  width: 85%;
  margin-bottom: 4%;
  border: 3px solid black;
  padding: 0 2%;
}

.gear-button > * {
  pointer-events: none;
}

.categories {
  margin-top: 17vh;
}

.img-container{
  height: 100%;
  padding-left: 5%;
}

.gear-list-image, #stats-image{
  filter: drop-shadow(5px 5px 6px black)
}

.gear-list-image {
  width: 67px;
}

.gear-text {
  font-size: 1rem;
  line-height: .8;
  padding-top: 5%;
}

.vertical-align {
  height: 100%;
}

.gear-list {
  margin-top: 13vh;
  cursor: pointer;
}

.nav-style {
  background-color: #1C110D;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.bottom-nav-style {
  background-color: #1C110D;
  position: fixed;
  z-index: 2;
  padding: 0;
}

.footer-icon{
  width: 35px;
}

.footer-text{
  color: white;
  font-size: 11px;
  line-height: .5;
  padding-bottom: 8px;
}

.footer-button {
  margin: 0 35px;
}

.back-button {
  color: lightgrey;
  font-size: 1.1rem;
  cursor: pointer;
}

.back-text{
  margin-left: .2rem;
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 300;
  color: lightgrey;
}

.currency {
  color: lightgrey;
  cursor: pointer;
}

.page-name {
  color: lightgrey;
  font-size: 1.1rem
}

.empty-backpack-text {
  margin-top: 15vh;
  font-size: 1.8rem;
  color: mintcream;
  text-shadow: 3px 3px 4px black;
}

/* MODAL STUFF */
.modal-content{
  background-color: #8A9688;
  width: 95%;
  border: 2px solid white;
}

.stats-header {
  padding-top: 5%;
}

#stats-image{
  width: 100px;
}

.stats-header > .gear-text {
  padding-top: 7%;
}

.defense-stats {
  font-size: 1rem;
  padding-right: 0;
}

.modal-body > .row {
  margin-bottom: 5%;
}

.slots-skills {
  font-size: 1.25rem;
}

.button-container {
  text-align: center;
  width: 100%;
}

.purchase-button {
  width: 95%;
  height: 7vh;
  margin-bottom: 5%;
  background-color: #228B22;
  border: 2px solid black;
}

.close-button {
  width: 50%;
  height: 6vh;
  justify-self: center;
  border: 2px solid black;
}

.thank-you-modal {
  background-color: mintcream;
  opacity: 0.7;
  width: 70%;
  border: 2px solid black;
  border-radius: 2%;
}

.thank-you-text {
  padding: 0;
  margin: 0;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
}

.disable-buttons{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}


/* Media Queries */
@media only screen and (min-width: 200px){
  body {
    background-image: url("assets/background.png");
  }
}

/* landscape iphone */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  body {
    background-image: url("assets/background-large.jpg");
  }
  .button-row{
    margin-top: 10vh;
    margin-bottom: 0;
  }
  .shop-button {
    height: 17vh;
    margin-bottom: 4vh;
  }
  .gear-button {
    height: 20vh;
    margin-bottom: 2%;
    padding: 0 2%;
  }
  .gear-text{
    line-height: .5;
    padding-top: 4%
  }

  .modal-content{
    width: 85%;
  }

  .stats-header {
    padding-top: 0;
  }
  .modal-body > .row {
    margin-bottom: 5%;
  }
  .button-container {
    text-align: center;
    width: 100%;
  }
  .purchase-button {
    width: 80%;
    height: 12vh;
  }
  .close-button {
    width: 40%;
    height: 12vh;
  }
  .inventory-column{
    margin-top: 10%;
  }
}

/* portrait ipad */
@media only screen and (min-width: 768px) {
  body {
    background-image: url("assets/background3.png");
    background-position: center;
  }
  .nav-style, .back-text{
    font-size: 1.25rem;
  }

  .footer-icon{
    width: 45px;
  }
  .footer-text{
    font-size: 16px;
  }

  .app-title {
    margin-top: 18vh;
    font-size: 60px;
  }
  .button-row{
    margin-top: 20vh;
  }
  .landing-button {
    width: 70%;
    padding: 2vh 0;
    font-size: 1.75rem;
  }
  .gear-button {
    height: 10.5vh;
    width: 80%;
    margin-bottom: 3%;
    padding: 0 2%;
  }

  .gear-list-image {
    width: 100px;
  }
  .gear-text{
    font-size: 1.2rem;
    line-height: .8;
    padding-top: 5%
  }
  .modal-content{
    width: 100%;
  }
  #stats-image{
    width: 125px;
  }
  .stats-header {
    padding-top: 5%;
  }
  .stats-header > .gear-text {
    padding-top: 10%;
    font-size: 2rem;
  }
  .defense-stats {
    margin-top: 5%;
    font-size: 1.25rem;
  }
  .slots-skills {
    font-size: 1.5rem;
  }
  .modal-body > .row {
    margin-bottom: 7%;
  }
  .button-container {
    text-align: center;
    width: 100%;
  }
  .purchase-button {
    width: 80%;
    height: 6vh;
  }
  .purchase-button > .row {
    font-size: 1.25rem;
  }

  .close-button {
    font-size: 1.25rem;
    height: 6vh;
  }
}

/* landscape ipad */
@media only screen and (min-width: 1024px) {
  body {
    background-image: url("assets/background3.png");
  }
  .nav-style, .back-text{
    font-size: 1.25rem;
  }

  .shop-button {
    height: 12vh;
    margin: 0;
    margin-bottom: 3vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .gear-button {
    height: 12vh;
    width: 43%;
    margin: 1% 2%;
    padding: 0;
  }

  .gear-list-image{
    width: 80px;
  }

  .gear-text{
    padding-top: 4%;
  }
  .modal-body > .row {
    margin-bottom: 3%;
  }
}


@media (min-width: 1050px) {
  body{
    background-image: url("assets/bg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100vh;
    background-color: black;
  }
  .app-title {
    margin-top: 18vh;
    font-size: 60px;
  }
  .landing-button {
    width: 51%;
    font-size: 1.5rem;
    padding: .7rem 0;
  }
  .button-row{
    margin-top: 12vh;
    margin-bottom: 12vh;
  }
  .categories{
    margin-top: 15vh;
  }
  .categories-column{
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  .shop-button{
    height: 9vh;
    width: 65%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
  }
  .gear-list{
    margin-top: 4%;
    padding-top: 8%;
  }

  .gear-button {
    height: 6rem;
    width: 43%;
    margin: 1% 2%;
    padding: 0;
  }
  .contents-column{
    padding-bottom: 15%;
  }
  .gear-list-image {
    width: 80px;
  }
}
