*{
  font-family: 'Do Hyeon', sans-serif;
}

@media only screen and (min-width: 375px) {
  body {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url("assets/background.png");
  }
}

@media only screen and (min-width: 768px) {
  body {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url("assets/background-large.jpg");
  }
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255,255,255,0.15);
}

.app-title {
  text-align: center;
  margin-top: 15vh;
  color: mintcream;
  font-size: 40px;
  font-family: 'Do Hyeon', sans-serif;
  text-shadow: 6px 6px 5px black, 6px 6px 5px black;
}

.button-row{
  margin-top: 22vh;
}

.landing-button {
  background-color: saddlebrown;
  color: white;
  padding: 1rem 0;
  margin-bottom: 7%;
  border: 4px solid black;
}

.shop-button {
  background-color: brown;
  color: white;
  height: 20%;
  margin-bottom: 7%;
  border: 4px solid black;
}

.gear-button {
  background-color: brown;
  color: white;
  height: 12vh;
  margin-bottom: 5%;
  border: 4px solid black;
  padding: 0 2%;
}

.gear-button > * {
  pointer-events: none;
}

.categories {
  margin-top: 30%;
}

.img-container{
  height: 100%;
  padding-left: 5%;
}

.gear-list-image, #stats-image{
  filter: drop-shadow(5px 5px 6px black)
}

.gear-text {
  font-size: 1rem;
  line-height: .8;
  padding-top: 5%;
}

.vertical-align {
  height: 100%;
}

.gear-list {
  margin-top: 25%;
}

.nav-style {
  background-color: black;
}

.home-button {
  color: lightgrey;
}

/* MODAL STUFF */
.modal-content{
  background-color: #8A9688;
  width: 95%;
  border: 2px solid white;
}

.stats-header {
  padding-top: 5%;
}

.stats-header > .gear-text {
  padding-top: 7%;
}

.defense-stats {
  font-size: 2.2vh;
}

.modal-body > .row {
  margin-bottom: 5%;
}

.slots-skills {
  font-size: 3vh;
}

.button-container {
  text-align: center;
  width: 100%;
}

.purchase-button {
  width: 95%;
  height: 7vh;
  margin-bottom: 5%;
  background-color: #228B22;
  border: 2px solid black;
}

.close-button {
  width: 50%;
  height: 6vh;
  justify-self: center;
  border: 2px solid black;
}

.thank-you-modal {
  background-color: mintcream;
  opacity: 0.7;
  width: 70%;
  border: 2px solid black;
  border-radius: 2%;
}

.thank-you-text {
  padding: 0;
  margin: 0;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
}

.disable-ui{
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
